# Dependências
node_modules/

# Build / saída
dist/
dist-ssr/
coverage/
*.local

# IDEs
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.*.local

# Rotas geradas pelo unplugin-vue-router
typed-router.d.ts

# Tipos geradas pelo unplugin-auto-import / unplugin-vue-components
src/auto-imports.d.ts
src/components.d.ts
