:root {
  --color-white: #f7f7f6;
  --color-white-lightest: #fbfbfa;

  --color-grey-lightest: #e3e5e5;
  --color-grey: #68747a;

  --color-black: #212123;

  --color-wine: #711d3c;
  --color-wine-muted: #cfa8b5;
  --color-wine-lighest: #f5e8ed;

  --unit: 4px;

  --spacing-1: var(--unit);
  --spacing-2: calc(var(--unit) * 2);
  --spacing-3: calc(var(--unit) * 3);
  --spacing-4: calc(var(--unit) * 4);
  --spacing-5: calc(var(--unit) * 5);
  --spacing-6: calc(var(--unit) * 6);
  --spacing-7: calc(var(--unit) * 7);
  --spacing-8: calc(var(--unit) * 8);
  --spacing-9: calc(var(--unit) * 9);
  --spacing-10: calc(var(--unit) * 10);

  --elevation-1: 0 0 6px 0px rgb(from var(--color-black) r g b / 0.1);
  --elevation-2: 0 2px 8px 3px rgb(from var(--color-black) r g b / 0.1);

  --round-sm: 4px;
  --round-md: 8px;
  --round-lg: 14px;
  --round-pill: 9999px;
}
